Milestone 1/*.out
Milestone 1/electron_positions.h5
Milestone 1/frames/
Milestone 1/data used/
Milestone 1/electron_simulation
Milestone 1/animation.gif
Milestone 2/*.out
Milestone 2/electron_positions.h5
Milestone 2/frames/
Milestone 2/data used/
Milestone 2/electron_simulation
Milestone 2/animation.gif
*.zip